.menu li a {
  position: relative;
  text-decoration: none;
  color: #000;
}
.menu li a:hover {
 
  color:rgba(62, 237, 139, 1);
}
.menu li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #000;
  transform: translateX(-50%);
  transition: width 0.3s;
}

.menu li a:hover::before {
  width: 10px; 
  background-color: rgba(62, 237, 139, 1);
}

.image-left img{
   
    border-bottom-right-radius: 47%;
    
}
.image-left{
    border-top-left-radius: 45%;
    border-bottom-right-radius: 45%;

}
.image-slider {
  max-width: 100%;
  margin-left:  auto;
  
}
.image-slider .slick-slide img {
  width: 100%;
  /* Tăng kích thước slide */
  margin: 0 auto;
}
.color_text{
  background-image: linear-gradient(to right, #3AC1C9, #37C0D6); /* Gradient màu cho chữ từ xanh lá cây đến xanh biển */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.text-bt{
  background-image: linear-gradient(to right, #48C396, #40C2B2); /* Gradient màu cho chữ từ xanh lá cây đến xanh biển */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.tel-bg{
  background: linear-gradient(to bottom,#FFB469, #E57709);
}

.dangky-bg{
  background: linear-gradient(to bottom,#FFB469, #E57709);
}
.bg-slider{
  background: linear-gradient(to right,#50C577, #2DBEFC);
}
.slick-dots button.dot {
  width: 10px;
  height: 6px;
  border-radius: 4px;
  background-color: white;
  margin: 0;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* CSS cho dấu chấm được chọn (active) */
.slick-dots .slick-active .dot {
  background: linear-gradient(to right,#50C577, #2DBEFC);
  /* Màu nền của dấu chấm được chọn */
  width: 35px;
  height: 5px;
  transition: none;
  transform: none;
}
 @media (max-width: 1280px) {
  .image-slider {
    max-width: 100%;
    margin-left:  auto;
  }
}
/* Thay đổi kiểu thanh cuộn */
.image-viewer {
  text-align: center;
  position: relative;
}
.fin-img img {
  max-width: 100%;
  display: none;
}
.dots {
  display: inline-block;
}
.dot {
  height: 5px;
  width: 10px;
  background-color: #ccc;
  border-radius: 4px;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}
.active-dot {
  width: 25px;
  height: 5px;
  background: linear-gradient(to right,#50C577, #2DBEFC);
  
}
.dot.active {
  background: linear-gradient(to right,#50C577, #2DBEFC);
}
/* CSS code */
.active-link {
  background-image: linear-gradient(to right, #50C577, #2DBEFC); /* Gradient màu cho chữ từ xanh lá cây đến xanh biển */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block; /* Đảm bảo gradient không tràn ra ngoài */
  position: relative;
}
.active-link ::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px; /* Độ dày của gạch chân (tuỳ chỉnh) */
  background: linear-gradient(to right, #50C577, #2DBEFC);
}
.mobile-menu{
  margin-left: 0%;
  position: fixed;

}

@media (min-width: 1540px) {
 .padding-bt{
  padding-bottom: 30%;
 }
 .form-trans{
  
  transform: translateY(-120%);
  position: absolute;
  left: 10%;
  width: 40%;
 }
}
@media (min-width: 1400px) {
  .padding-bt{
   padding-bottom: 30%;
  }
  .form-trans{
   
   transform: translateY(-100%);
   position: absolute;
   left: 5%;
   width: 45%;
  }
 }
 @media (max-width: 1023px) {
 
  .form-trans{
   position: absolute;
  width: 100%;
  }
 }
 @media (max-width: 1023px) {
 
  .bg-footer{
    background: var(--dd-400, linear-gradient(90deg, #50C577 0%, #2DBEFC 100%));
  }
 }
 
@media (min-width: 1280px) {
  /* .padding-bt{
   padding-bottom: 30%;
  } */
  .form-trans{
   transform: translateY(-100%);
   position: absolute;
   width: 50%;
  }
 }
@media (min-width: 1800px) {
    .font-bt{
      font-size: 1.25rem;
    }
 }
 .slick-dots {
  display: flex;
  justify-content: center; /* Căn giữa các dots */
  gap:6px;
}
@media (max-width: 1024px) {
  .reposive-block{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

}






